html, body {
    background-color: whitesmoke;
    color: seagreen;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  font-family: "Instrument Serif", serif;
  font-weight: 200;
  font-style: normal;
  }
  
  main {
  width: 100vw;
  overflow: hidden;
  }

  .top-container {
    display:flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 2vh;
    position: relative;
    justify-content: space-between;
    font-size: 200px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .name {
    max-height: 320px;
    line-height: 160px;
  }


  .tabs-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 150px;
    position: relative;
    justify-content: space-between;
    font-size: 50px;
    text-transform: uppercase;
  }

  .tabs {
    max-height: 120px;
    line-height: 60px;
  }

  .interaction {
    max-height: 120px;
    line-height: 60px;
  }

  a {
    text-decoration: none;
    color: seagreen;
  }

  a:visited {
    color: seagreen;
  }

  a:hover {
    font-style: italic;
    color: darkgreen;
  }

  #lab {
    font-style: italic;
    color: darkgreen;
  }

  #title:hover {
   font-style: normal;
  }

   .work-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100vw;
    position: relative;
    font-size: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
  }

  .urls {
    max-height: 180px;
    line-height: 60px;
    padding-bottom: 60px;
    width: 33.33%;
    text-align: center;
  }


  

