html, body {
    background-color: whitesmoke;
    color: seagreen;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  font-family: "Instrument Serif", serif;
  font-weight: 200;
  font-style: normal;
  }
  
  main {
  width: 100vw;
  overflow: hidden;
  }

  .top-container {
    display:flex;
    flex-wrap: wrap;
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 4vh;
    position: relative;
    justify-content: space-between;
    font-size: 150px;
    text-transform: uppercase;
  }
  
  .name {
    max-height: 300px;
    line-height: 150px;
  }

  .tabs-container {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    margin-left: 2.5vw;
    position: relative;
    justify-content: space-between;
    font-size: 60px;
    text-transform: uppercase;

  }

  .tabs {
    max-height: 120px;
    line-height: 80px;
  }

  .interaction {
    max-height: 120px;
    line-height: 80px;
  }

  

